In [6]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [7]:
# Question  1).

df1=pd.read_csv("accounts.csv")
df2=pd.read_csv("data_dictionary.csv")
df3=pd.read_csv("products.csv")
df4=pd.read_csv("sales_pipeline.csv")
df5=pd.read_csv("sales_teams.csv")

df1.head()

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN
1,Betasoloin,medical,1999,251.41,495,United States,NaN
2,Betatech,medical,1986,647.18,1185,Kenya,NaN
3,Bioholding,medical,2012,587.34,1356,Philipines,NaN
4,Bioplex,medical,1991,326.82,1016,United States,NaN

In [11]:

df6=pd.merge(df1,df4 )
df7=pd.merge(df6,df1)
df8=pd.merge(df7,df5)
df=pd.merge(df8,df4)
df

,account,sector,year_established,revenue,employees,office_location,subsidiary_of,opportunity_id,sales_agent,product,deal_stage,engage_date,close_date,close_value,manager,regional_office
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,N4SD17JR,Reed Clapper,GTX Basic,Won,2016-11-12,2017-03-01,556.0,Rocco Neubert,East
1,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,TBZMXKH4,Wilburn Farren,MG Advanced,Won,2017-01-15,2017-03-29,3833.0,Cara Losch,East
2,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,S3W6Q07M,Kami Bicknell,GTX Plus Pro,Engaging,2017-01-16,NaN,NaN,Summer Sewald,West
3,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,V4324HG4,Violet Mclelland,MG Special,Lost,2017-01-23,2017-05-06,0.0,Cara Losch,East
4,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,TK9T01QM,Reed Clapper,GTXPro,Lost,2017-01-25,2017-05-07,0.0,Rocco Neubert,East
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7370,Zumgoity,medical,1984,441.08,1210,United States,NaN,RWR0W3U8,Darcel Schlecht,GTXPro,Lost,2017-10-26,2017-10-27,0.0,Melvin Marxen,Central
7371,Zumgoity,medical,1984,441.08,1210,United States,NaN,1PXQZ40I,Versie Hillebrand,MG Advanced,Won,2017-12-13,2017-12-27,3735.0,Dustin Brinkmann,Central
7372,Zumgoity,medical,1984,441.08,1210,United States,NaN,YL29KX3L,Anna Snelling,GTX Plus Basic,Prospecting,NaN,NaN,NaN,Dustin Brinkmann,Central
7373,Zumgoity,medical,1984,441.08,1210,United States,NaN,D01U08PR,Darcel Schlecht,GTXPro,Prospecting,NaN,NaN,NaN,Melvin Marxen,Central
7374,Zumgoity,medical,1984,441.08,1210,United States,NaN,YMI68O7S,Marty Freudenburg,GTX Plus Basic,Prospecting,NaN,NaN,NaN,Melvin Marxen,Central

In [15]:
df.dtypes

account              object
sector               object
year_established      int64
revenue             float64
employees             int64
office_location      object
subsidiary_of        object
opportunity_id       object
sales_agent          object
product              object
deal_stage           object
engage_date          object
close_date           object
close_value         float64
manager              object
regional_office      object
dtype: object

In [16]:
df.head()

,account,sector,year_established,revenue,employees,office_location,subsidiary_of,opportunity_id,sales_agent,product,deal_stage,engage_date,close_date,close_value,manager,regional_office
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,N4SD17JR,Reed Clapper,GTX Basic,Won,2016-11-12,2017-03-01,556.0,Rocco Neubert,East
1,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,TBZMXKH4,Wilburn Farren,MG Advanced,Won,2017-01-15,2017-03-29,3833.0,Cara Losch,East
2,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,S3W6Q07M,Kami Bicknell,GTX Plus Pro,Engaging,2017-01-16,NaN,NaN,Summer Sewald,West
3,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,V4324HG4,Violet Mclelland,MG Special,Lost,2017-01-23,2017-05-06,0.0,Cara Losch,East
4,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN,TK9T01QM,Reed Clapper,GTXPro,Lost,2017-01-25,2017-05-07,0.0,Rocco Neubert,East

In [17]:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
7370    False
7371    False
7372    False
7373    False
7374    False
Length: 7375, dtype: bool

In [18]:
df=df.drop_duplicates()

In [19]:
df=df.dropna

In [26]:
df['engage_date']=pd.to_datetime(df['engage_date'].fillna(df['engage_date'].mode()[0]))
df['close_date']=pd.to_datetime(df['close_date'].fillna(df['close_date'].mode()[0]))
df['year_established']=pd.to_datetime(df['year_established'])
df1=df.groupby('sales_agent')["revenue"].sum().reset_index().sort_values(by="revenue",ascending=false).head(10)
df1
plt.figure(figsize=(12, 6))
plt.bar(df1['sales_agent'], df1["revenue"], color='blue')
plt.xlabel("Sales Agent")
plt.ylabel("Total Revenue")
plt.title("Total Revenue by Sales Agent")
plt.xticks(rotation=90)
plt.show()

TypeError: 'method' object is not subscriptable

In [27]:
df['engage_date'] = pd.to_datetime(df['engage_date'].fillna(df['engage_date'].mode()[0]))
df['close_date'] = pd.to_datetime(df['close_date'].fillna(df['close_date'].mode()[0]))
df['year_established'] = pd.to_datetime(df['year_established'])
df1 = df.groupby("sales_agent")["revenue"].sum().reset_index().sort_values(by="revenue", ascending=False).head(10)
df1

# Plot the graph
plt.figure(figsize=(12, 6))
plt.bar(df1['sales_agent'], df1["revenue"], color='blue')
plt.xlabel("Sales Agent")
plt.ylabel("Total Revenue")
plt.title("Total Revenue by Sales Agent")
plt.xticks(rotation=90)
plt.show()

TypeError: 'method' object is not subscriptable